*{
    margin: 0;
    padding: 0;
}

.pixel-card {
    width: 300px;
    height: 400px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(62, 62, 62);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .pixel-card.hovered {
    transform: scale(1.05);
    box-shadow: 0 15px 25px rgb(0, 166, 192);
  }
  
  .pixel-text {
    font-size: 22px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
  }
  